<div>
    {{#unless products}}
            <h1 class="title">YOUR CART IS EMPTY</h1>
    {{/unless}}
    {{#if products}}
    <h1 class="title">YOUR ORDER</h1>
    <table class="product-table">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
            <th>RemoveItem</th>
        </tr>
    <div class="entry">
    </div>
    {{#each products}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img height="100px" width="100px" src={{this.thumbnail}}/></td>
        <td><button id={{this._id}} class="removeProductCart">Remove Product</button>
    </tr>
    {{/each}}
    {{/if}}
    </table>
    <h1 class="title" id="cartTotal">TOTAL:{{cartTotal}}</h1>
    <button id="emptyCartBtn">Empty Cart</button>
</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
        text-align: center;
    }
    .product-table{
        width: 80%;
        margin: auto;
        background-color: white;
    }

    .title{
        text-align: center;
        font-size: 46px;
    }
    button{
        background-color: black;
        color: white;
        border-radius: 12px;
        padding: 12px;
        margin-top: 10px;
        margin-left: 46.5%;
    }

</style>